.project-summary--container {
   display: flex;  
   height: 150px; 
}

.project-summary--header,
.project-summary--body {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.project-summary--header {
   flex: 0.4;
   border-bottom: 0.75px solid #ccc;
}

.project-summary--body {
   flex: 0.6;
}
