.container--join-team {
   height: 100vh;
   width: 100%;   
   padding-bottom: 4rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form--join-team, .info-header{
   width: 35vw;
}

.info-header {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
}
