.navbar {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   height: 60px;
   border-bottom: 1px solid  #D7DBE6;
}

.navbar-brand--container,
.block-count--container,
.notif--container,
.current-user--container {
   display: flex;
   align-items: center;
   height: 100%;
}

.notif--container,
.current-user--container {
   justify-content: center;
}

.navbar-brand--container {
   flex: 0.15;    
}

.block-count--container {
   flex: 0.6;
}

.notif--container {
   flex: 0.05;
   border-left: 1px solid  #D7DBE6;
   border-right: 1px solid  #D7DBE6;
}

.current-user--container {
   flex: 0.15;
}
