.dashboard__sidenav {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: center; */
   padding-top: 20px;

   height: 100%;
   border-right: 1px solid  #D7DBE6;
}

.dashboard__sidenav > a {
   margin-bottom: 12px;
}

.nav-link {
   color: black !important;
}

.active {
   color: #0A84FE !important;
}
