@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
   font-family: Avenir;
   src: url('./assets/fonts/AvenirLTStd-Book.otf');
}

@font-face {
   font-family: NHaasGrotest;
   src: url('./assets/fonts/NHaasGroteskTXPro-55Rg.ttf');
}

/* *:not(i) {
   font-family: 'NHaasGrotest' !important;
} */
