.layout__sidenav {
   flex: 0.05;
}

.layout__content {
   flex: 1;
   height: 100%;
   width: 100%;
   display: flex;
   background-color: rgba(249, 249, 249, 1);
   justify-content: center;
}

.layout__body {
   height: 100vh;
   display: flex;
}
